<div class="nested-fields">
    <b><%= "最寄駅" %></b>
    <%= stations_form.label :line, "路線名" %>
    <%= stations_form.text_field :line %>
    <%= stations_form.label :name, "駅名" %>
    <%= stations_form.text_field :name %>
    <%= stations_form.label :walk, "徒歩分数" %>
    <%= stations_form.text_field :walk %>分<br>
</div>