<p id="notice"><%= notice %></p>

<h1>Cases</h1>

<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>

<% @cases.each do |@case| %>
  <tr>
    <td><%= case.title %></td>
    <td><%= case.address %></td>

    <td><%= link_to '詳細を確認する', case_path(case.id) %></td>
    <td><%= link_to 'ブログを編集する', edit_case_path(case.id), data:{ confirm: '本当に編集していいですか？' } %></td>
    <td><%= link_to 'ブログを削除する', case_path(case.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>

<br>

<%= link_to 'New Case', new_case_path %>
